$overlay-gutter: 10px !default;

[data-map]{
  width: 100%;
  min-height: 300px;
}


.map-container{
  @media only screen and (min-width: 40.0625em){
    position: relative;

    .map-overlay {
      position: absolute;
      top: $overlay-gutter;
      bottom: $overlay-gutter;
      left: $overlay-gutter;
      z-index: 1;
      padding: $overlay-gutter;
      background: #fff;
      background: rgba(#fff, .8);
      border-radius: 4px;

      &.right {
        left: auto;
        right: $overlay-gutter;
      }
    }
  }
}


.mapboxgl-popup-content{
  font-size: rem-calc(14);
  text-align: center;

  p{
    font-size: rem-calc(14);
  }

  .marker-title{
    font-size: 16px;
  }

  > *:last-child{
    margin-bottom: 0;
  }
}
